<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nii.cloud.mapper.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.nii.cloud.bean.TeacherBean">
        <result column="tec_id" property="tecId" jdbcType="VARCHAR"/>
        <result column="tec_name" property="tecName" jdbcType="VARCHAR"/>
        <result column="tec_age" property="tecAge" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        tec_id, tec_name, tec_age
    </sql>

    <select id="getTeacherById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from teacher
        where tec_id = #{id}
    </select>
</mapper>